* {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: monospace;
    font-weight: bold;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkblue;
}